VITE_SUPABASE_URL=https://phuyvpogkezabgsqxhcz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBodXl2cG9na2V6YWJnc3F4aGN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwOTI0NDIsImV4cCI6MjA5NTY2ODQ0Mn0.LrP0C7-gWDFq6mAWaaJrDccHYLYuv-qqiKjzEEpz6uk